:root {
    --color-1: #009688;
    --color-1-darker-40: var(--color-1);
    --color-2: var(--color-1);
    --color-2-darker-40: var(--color-1);
    --color-2-darker-50: var(--color-1);
    --mark-color: var(--color-1);
}